<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- add shortcut icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="images/logo.ico"
      sizes="16x16"
    />
    <!-- stylesheet-->
    <link rel="stylesheet" href="static/styles/style.css" />
    <!-- add font -->
    <link
      href="https://fonts.googleapis.com/css?family=Cookie"
      rel="stylesheet"
    />
    <title>Vilo</title>
  </head>

  <body>
    <header>
      <img
        class="logo"
        src="images/logo.png"
      />
      
      <br />
    </header>
    <div id="srContainer">
      <h1>Upload your audio file</h1>
      <br>
      <form method="" enctype="multi-part/form-data">
      <input type = "file" name "file"
      <br>
      <input type="submit" value="Transcribe"/>
   


  </body>
</html>